/* google fonts start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* google fonts end */
* {
  font-family: "Poppins", sans-serif;
}
.slider_overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.4;
}
.slider_caption_center {
  bottom: 200px;
  padding: 0 100px;
}
.about_bg {
  background-color: #f4fafd;
}
.join_us_content {
  width: 70%;
}
.join_us_btn {
  margin-top: 70px;
}
.card_top img {
  width: 15%;
}
.card_top i {
  color: rgb(255, 196, 0);
}
.card_btn_pre {
  position: absolute;
  left: -12%;
  background-color: #83b5ff;
  margin-right: 14px;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 50%;
}
.card_btn_pre:hover {
  background-color: #0d6efd;
}
.card_btn_next:hover {
  background-color: #0d6efd;
}
.btn_opacity {
  opacity: 1;
}
.card_btn_next {
  position: absolute;
  right: -20%;
  background-color: #83b5ff;
  margin-right: 14px;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 50%;
  opacity: 1;
}
