/* google fonts start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* google fonts end */
* {
  font-family: "Poppins", sans-serif;
}
.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.4;
}
.carousel-caption {
  bottom: 200px;
  padding: 0 100px;
}
